*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

body{
    background-color: blueviolet;
}

header{
    padding: 10px;
    background-color: rgb(40,0,70);
    align-items: center;
}

header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(40,0,70);
}